<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.icss.model.OrderDetail">
    <id column="detail_id" jdbcType="INTEGER" property="detailId" />
    <result column="product_num" jdbcType="INTEGER" property="productNum" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="pro_id" jdbcType="INTEGER" property="proId" />
  </resultMap>
  <sql id="Base_Column_List">
    detail_id, product_num, order_id, product_price, discount, amount, pro_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.icss.model.OrderDetail">
    insert into t_order_detail (detail_id, product_num, order_id, 
      product_price, discount, amount, 
      pro_id)
    values (#{detailId,jdbcType=INTEGER}, #{productNum,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{productPrice,jdbcType=DECIMAL}, #{discount,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{proId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.icss.model.OrderDetail">
    insert into t_order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detailId != null">
        detail_id,
      </if>
      <if test="productNum != null">
        product_num,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="proId != null">
        pro_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detailId != null">
        #{detailId,jdbcType=INTEGER},
      </if>
      <if test="productNum != null">
        #{productNum,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icss.model.OrderDetail">
    update t_order_detail
    <set>
      <if test="productNum != null">
        product_num = #{productNum,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="proId != null">
        pro_id = #{proId,jdbcType=INTEGER},
      </if>
    </set>
    where detail_id = #{detailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icss.model.OrderDetail">
    update t_order_detail
    set product_num = #{productNum,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      product_price = #{productPrice,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      pro_id = #{proId,jdbcType=INTEGER}
    where detail_id = #{detailId,jdbcType=INTEGER}
  </update>
</mapper>