<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.icss.model.Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pro_no" property="proNo" jdbcType="VARCHAR" />
    <result column="cat_id" property="catId" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="bak" property="bak" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.icss.model.Product" extends="BaseResultMap" >
    <result column="c_desc" property="cDesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, pro_no, cat_id, num, price, imgurl, color, size, status, tag, bak
  </sql>
  <sql id="Blob_Column_List" >
    c_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.icss.model.Product" >
    insert into t_product (id, name, pro_no, 
      cat_id, num, price, 
      imgurl, color, size, 
      status, tag, bak, c_desc
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{proNo,jdbcType=VARCHAR}, 
      #{catId,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{imgurl,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR}, #{bak,jdbcType=VARCHAR}, #{cDesc,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.icss.model.Product" >
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="proNo != null" >
        pro_no,
      </if>
      <if test="catId != null" >
        cat_id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="imgurl != null" >
        imgurl,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="bak != null" >
        bak,
      </if>
      <if test="cDesc != null" >
        c_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="proNo != null" >
        #{proNo,jdbcType=VARCHAR},
      </if>
      <if test="catId != null" >
        #{catId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="bak != null" >
        #{bak,jdbcType=VARCHAR},
      </if>
      <if test="cDesc != null" >
        #{cDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icss.model.Product" >
    update t_product
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="proNo != null" >
        pro_no = #{proNo,jdbcType=VARCHAR},
      </if>
      <if test="catId != null" >
        cat_id = #{catId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="imgurl != null" >
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="bak != null" >
        bak = #{bak,jdbcType=VARCHAR},
      </if>
      <if test="cDesc != null" >
        c_desc = #{cDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.icss.model.Product" >
    update t_product
    set name = #{name,jdbcType=VARCHAR},
      pro_no = #{proNo,jdbcType=VARCHAR},
      cat_id = #{catId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      bak = #{bak,jdbcType=VARCHAR},
      c_desc = #{cDesc,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icss.model.Product" >
    update t_product
    set name = #{name,jdbcType=VARCHAR},
      pro_no = #{proNo,jdbcType=VARCHAR},
      cat_id = #{catId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      bak = #{bak,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>